*,*::before,*::after{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    font-size: 10px;
}
.header{
    width:80%;
    margin:0 auto;
    padding-bottom:30px;
}
.header-wrapper{
    text-align: center;
}
.heading{
    display:inline-block;
}
.heading-logo-img{
    width:100px;
    height:100px;
    padding-top:0px;
}
.main-menu{

    text-align: center;
}
.main-menu__members{
    display: inline-block;
    list-style: none;
    font-size: 0;
    border:5px solid rgb(25, 25, 92);
    background-color: tomato;
    border-radius: 5px;
    box-shadow: 5px 5px 1px 1px rgb(25, 25, 92);
}
.main-menu__individual{
    display:inline-block;
    font-size:2rem;
}
.main-menu__individual a{
    display:inline-block;
    padding: 10px 30px;
    text-decoration: none;
    color:white;
}
.main-menu__individual a:hover{
    background-color: gray;
    color:wheat;
}
.container {
  height: 700px;
}
.profile {
  display: flex;
  justify-content: center;
  align-content: center;
}
.profile-figure {
  margin:0 10px;
  border-radius: 10px;
  border:5px solid rgb(25,25,92);
  padding-top:10px;
  width: 200px;
  text-align: center;
  box-shadow: 5px 5px 1px 1px rgb(25, 25, 92);
}
.profile-img {
  width: 175px; 
  transition-property: transform;
  transition-duration: 1s;
}
.profile-figcaption{
    font-size:1.6rem;
    color:rgb(25, 25, 92);
}
.cjy .profile-img:hover{
    transform: scale(10) translateX(10%) translateY(20%)
}
.kym .profile-img:hover{
    transform: scale(10) translateX(-10%) translateY(20%)
}
.cya .profile-img:hover{
    transform: scale(10) translateX(-10%) translateY(20%);
}